$alignment: left;

.author__figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.author__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    width: 33%;
}

.author__image__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.author__image {
    border-radius: 50%;
    width: 75%;
    margin: 1rem auto;
}

.author__name {
    font-size: 1.0rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: $alignment;
    width: 100%;
}

.author__affil {
    font-size: 0.8rem !important;
    font-weight: 200;
    margin: 0 !important;
    padding: 0;
    width: 100%;
    text-align: $alignment;
}

.author__icons__container {
    display: flex;
    flex-direction: row;
    justify-content: $alignment;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 1rem;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .author__container {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .author__container {
        width: 100%;
    }
}